.container{
    border: 1px solid black;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 300px;
}

.text{
    margin: 0;

}

.btn {
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 33, 13);
}

