.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Высота контейнера для центрирования по вертикали */
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.textWithIcon {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    /* Отступ слева от текста до иконки */
    font-size: 65px;
    /* Измените размер по необходимости */
    color: rgb(24, 191, 38);
    /* Цвет иконки */
}