.container{
    display: flex;
    gap: 24px;
}

.text{
    color: brown;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}
.btn {
    width: 110px;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 33, 13);
    padding: 10px;
    text-align: center;
}

